name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24'
        cache: true

    - name: Install Protoc Plugins
      run: |
        go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.36
        go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.5
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Setup Buf
      uses: bufbuild/buf-setup-action@v1
      with:
        github_token: ${{ github.token }}

    - name: Generate Code
      run: make generate

    - name: Build
      run: make build

    - name: Test
      run: make test
